body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#ffffff;
}
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
 .nav-container{
    background-color:#ffffff;
    position: fixed; 
    height:100vh;
    width:16.5vw;
    padding-top:2px !important;
    display: flex;
}
.main-container{
    width:100vw;
    background-color: rgb(250, 249, 246) ;
}
.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 82.5vw;
    padding-top: 20px;
    font-size: 12px;
    background-color:#ffffff;
  }
.main-content {
    margin-top: 10vh !important;
    margin-left: 18% !important;  
    padding-top: 0px;
    
  }
  .top-bar-right-content {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 32px;
    padding-right: 24px;
  }
 .nav-container ul {
    list-style-type: none;
    padding: 20px;
    padding-top: 2px;
}
.nav-container li {
    margin-bottom: 10px;
}
.nav-container ul li:hover a{
    color:rgb(250, 250, 260);
    background-color: #a9d1f7;
}
.nav-container a {
    text-decoration: none;
    color: #000; 
    display: flex;
    align-items: center
}
.nav-container .icon img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.content {
    flex: 1;
    padding: 20px;
}
.cardbox {
    display: flex;
    padding-top: 2px;
} 
.card {
    display: flex;
    padding: 10px 20px ;  
    margin-right: 5px;
    text-align: left; 
    justify-content: space-between;  
} 
.title{
    padding-left: 7px;
    padding-right: 15px;
    padding-bottom:10px;
    font-size:12px;
}
.menu-item {
    display:flex;
    justify-content:space-evenly;
    padding-left: 15px;
    margin: 0px 0px;
    padding: 0;
}
.log-out{
    display: flex;       
    justify-content: end;  
    padding-top: 5%;
    padding-bottom: 5px; 
    margin: 5px 0px;
}
.right-icons{
    padding-left: 15px;
    padding-top: 2px;
    align-items: center;
}
.circle {
    width: 30px;
    height: 30px;
    border-radius: 80%;
    overflow: hidden;
    padding-right: 8px;
  }
  .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .side-bar-user{
    display:flex;
    padding-left: 15px;
    justify-content: space-between;
  }
  .side-bar-detail{
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    padding-right: 10px;
  }
  .calendar-icon{
    padding-top: 2px;
    padding-left: 7px;
  }
  .flex{
    display: flex;
  }
  .header{
    padding-top: 10px   ;
  }
  .header-nav{
    display: flex;
    justify-content: space-between;
    margin-right: 300px;
    padding:15px;
    border-radius: 5px;
    background-color: rgb(200, 202, 200);
    font-weight: bold;
    color: #000; 
  }
  .active-bar{
    display:flex;
    border-radius: 80px;
    color: #faf2f2;
    background-color:#347ed2;
  }
  .title1{
    color:#347ed2;
    font-size:12px;
    font-weight: bolder;
  }
  .card-body{
    display: flex;
    justify-content: space-between;
  }
  .right-content
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 60px;
  }
  .left-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
  }
.tab-container {
  display: flex;
  background-color: #f0f0f0;
  padding: 8px;
  width: fit-content;
  border-radius: 15px;
}
.tab-button {
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  background-color: transparent;
  font-size: 10px;
  outline: none;
}
.right-align{
  text-align: right !important;
}
.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
.card-text{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.card-inner-text{
  font-size: 9px;
  padding-top: 2px;
  white-space: nowrap;
}
.card-count{
  font-weight: 900;
}
.right-bottom-icon{
  padding-top: 10px;
  align-items: right;
}
.card-blue{
  background-color:#e0f3fe;
}
.card-green{
  background-color: rgb(233,255,233);
}
.card-orange{
  background-color:rgb(252, 217, 217);
}
.card-light{
  background-color:rgb(253,234,213);
}
.card-maroon{
  background-color:rgb(255,255,226);
}
.card-ash{
  background-color:rgb(250, 227, 227);
}
.parent-div {
  display: flex;
  padding-top: 10px;
  align-items: center;
  border: none;
  border-color: #e0f3fe;
}
.child-div {
  display: flex;
  justify-content: space-evenly;
  margin-right: 3px;
  font-weight: 400;
  border:none;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 200px;
  height: 10px;
  border: none;
  border-radius: 4px;
}
.search-icon {
  margin-right: 3px;
  width: 200px;
  height: 30px;
}
select {
  width: 112px;
}
.space-div {
  margin-right: 120px;
}
.icons-div {
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 10px;
  width: 24px;
  height: 30px;
  padding-left: 8px;
}
.parent-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  overflow-y: scroll;
}
.table {
  max-width: 100% !important;
}
.table th, .table td {
  padding: 8px;
  text-align: left;
  font-size: 11.5px;
  white-space: nowrap;
}
.table th {
  background-color: #d7e8f9;
  font-size: 9.7px;
  font-weight: bolder;
  color: #354ede;
  white-space: nowrap;
}
.select-table {
  width: 80%;
}
.select-status {
  width: 110%;
}
.status-select{
  font-size: 12px;
  font-weight: 400;
    padding: 5px;
    border: none;
    border-radius: 4px;
}
.table-value{
  display: table;
  border-spacing: 0px;
}
.right-name{
  font-weight: bolder;
}
.page-count{
  height: 18px;
  width: 40px;
  padding-left: 10px;
}


/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .navigation {
        width: 100%;
    }

    .cardbox {
        position: static;
        flex-direction: column;
        margin-top: 20px;
    }

    .card {
        margin: 0 0 10px;
    }
}